/* --- Anatole Theme Customizations --- */

/* Force the accent color */
:root {
    --dark-accent-color: #d4af37;
    --dark-bg-color: #152028;

    --light-accent-color: #B20D30;
    --light-bg-color: #fff;
}    

/* =======================================
   HYPERLINKS
   =======================================
*/


.post .post-title a,
.theme--dark .post__content a {
    color: var(--dark-accent-color);
}

.theme--light .post__content a {
    color: var(--light-accent-color);   
}

.content {
    position: relative;
    z-index: 1;
}

.theme--dark .sidebar {
    background-color: var(--dark-bg-color);
    z-index: 999;
}

.theme--light .sidebar {
    background-color: var(--light-bg-color);
    z-index: 999;
}

