/* --- Anatole Theme Customizations --- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Force the accent color */
:root {
    --dark-font-color: #f7f3ea;
    --dark-accent-color: #ecbb11 /* #d4af37 */;
    --dark-hyperlink-color: #ecbb11 /* #f98d8d */;
    --dark-bg-color: #33342f /* #152028 */;

    --light-font-color: #33342f;
    --light-accent-color: #316c43 /* #B20D30 */;
    --light-hyperlink-color: #B12B2B;
    --light-bg-color: #e6ddd4;

    body {
       font-family: "Inter", sans-serif;
       font-optical-sizing: auto;
       font-weight: 300;
       font-size: 16px;
       font-style: normal;
  }
}    

/* =======================================
   SET BACKGROUND COLOURS
   =======================================
*/

/* Ensure the dark theme variables are applied to all main containers */
.theme--dark body, 
.theme--dark .body,
.theme--dark .header.header, 
.theme--dark .nav__list, 
.theme--dark .wrapper, 
.theme--dark .post__content, 
.theme--dark .post__footer, 
.theme--dark .footer.footer__base, 
.theme--dark .post,
.theme--dark .form-style ul li {
    background-color: var(--dark-bg-color);
}

/* Ensure the light theme variables are applied to all main containers */
.theme--light body,
.theme--light .body,
.theme--light .header.header,
.theme--light .nav__list,
.theme--light .wrapper,
.theme--light .post__content,
.theme--light .post__footer,
.theme--light .footer.footer__base,
.theme--light .post,
.theme--light .form-style ul li {
    background-color: var(--light-bg-color);
}

/* =======================================
   SET FONT COLOURS
   =======================================
*/
.theme--dark,
.theme--dark p,
.theme--dark h1,
.theme--dark h2,
.theme--dark h3,
.theme--dark label,
.theme--dark strong,
.theme--dark em,
.theme--dark b,
.theme--dark i,
.theme--dark span,
.theme--dark li {
    color: var(--dark-font-color);
}

.theme--light,
.theme--light p,
.theme--light h1,
.theme--light h2,
.theme--light h3,
.theme--light label,
.theme--light strong,
.theme--light em,
.theme--light b,
.theme--light i,
.theme--light span,
.theme--light li {
    color: var(--light-font-color);
}

/* =======================================
   HYPERLINKS
   =======================================
*/
.theme--dark .post__content a {
    color: var(--dark-hyperlink-color);
}

.theme--light .post__content a {
    color: var(--light-hyperlink-color);
}

/* Sidebar Link - i.e. my name
.theme--dark .sidebar__introduction-title a {
*/

/* ======================================
   SPECIAL CASES
   ======================================
*/

.theme--dark .special-text {
    color: var(--dark-accent-color);
    font-style: italic;
}

.theme--light .special-text {
    color: var(--light-accent-color);
    font-style: italic;
}

/* =============================================
   RESOLVE SIDEBAR SCROLLING ISSUE
   =============================================
*/
.content {
    position: relative;
    z-index: 1;
}

.theme--dark .sidebar {
    background-color: var(--dark-bg-color);
    z-index: 999;
}

.theme--light .sidebar {
    background-color: var(--light-bg-color);
    z-index: 999;
}

/* ============================================
   YOUTUBE SCALING ACROSS PLATFORMS
   ============================================
*/
iframe {
    diplay: block;
    border: none;

    width: 100%;
    max-width: 1200px;

    aspect-ratio: 16 / 9;

    margin-bottom: 2rem;
}
